body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#0f172a,#3b0764);
  color:white;
  font-size:18px;
}

/* HEADER */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

.logo{
  width:45px;
}

.logoBox{
  display:flex;
  align-items:center;
  gap:10px;
}

.title span{
  font-size:20px;
  font-weight:bold;
}

.lang button{
  background:#ffffff20;
  border:none;
  color:white;
  padding:6px 10px;
  border-radius:10px;
}

/* MENU */
.menu{
  display:flex;
  flex-direction:column;
  gap:15px;
  max-width:420px;
  margin:20px auto;
}

/* BUTTON */
.btn{
  display:flex;
  justify-content:space-between;
  align-items:center;

  width:100%;
  min-height:65px;
  padding:18px;

  border-radius:18px;

  background:linear-gradient(135deg,#6366f1,#9333ea);

  font-size:18px;
  font-weight:700;

  box-shadow:0 12px 25px rgba(0,0,0,0.35);

  cursor:pointer;
  transition:0.2s;
}

.btn:hover{
  transform:scale(1.03);
}

.btn::after{
  content:"➜";
}

/* BIG BUTTON */
.btn.big{
  background:linear-gradient(135deg,#22c55e,#16a34a);
  margin-top:20px;
}

/* PAGE */
.page{
  padding:20px;
}

.hidden{
  display:none;
}

/* TEXT */
.text{
  line-height:1.8;
  max-width:420px;
  margin:auto;
}
